$imgBox-margin-left:4vw;
$img-margin-left:1vw;

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .searchBox {
    display: flex;
    width: 28vw;
    .searchButton {
      margin-left: .5vw;
    }
  }

  .searchResult {
    display: flex;
    // ? 这里如何做到水平居中，但是里面的元素像左对齐
    margin-left: $imgBox-margin-left;
    flex-wrap: wrap;
    margin-top: $img-margin-left;

    img {
      margin: 1vw;
      width: 180px;
      height: 180px;
    }
  }

  .tips {
    place-self: flex-start;
    margin-left: calc(#{$img-margin-left} + #{$imgBox-margin-left});
    .totalCount {
      color: #E6A23C;
    }
  }

  .pagination {
    margin: 1vw 0;
  }
}